 <!-- ******************* START FOOTER COMPONENT ******************* -->
 <footer class="footer ucg-icons__newPackage">
  <div class="footer__wrap container">
    <div class="footer__upper">
      <div
        data-sly-resource="${'subfooter' @ resourceType='ucs-exercise-seba/components/content/subfooter'}"
      ></div>
      <div
        data-sly-resource="${'subfooternav' @ resourceType='ucs-exercise-seba/components/content/subfooternav'}"
      ></div>
    </div>
    <div class="footer__bottom">
      <div class="footer__col">
        <div class="footer__logo"
              data-sly-resource="${'exer1-image' @ resourceType='ucs-exercise-seba/components/content/myimage'}"
            ></div>
        <div class="footer__copy">
          © 20XX – 20XX UniCredit S.p.A. - All Rights reserved
        </div>
      </div>
      <div class="footer__col" style="color: white;">
        <div
          data-sly-resource="${'footersocials' @ resourceType='ucs-exercise-seba/components/content/footersocials'}"
        ></div>
        <!-- <div
          data-sly-resource="${'footer-after-socials' @ resourceType='ucs-exercise-seba/components/content/footer_after_socials'}">
        </div> -->
        <div class="footer__utils">
          <a href="" target="_blank">
              Lorem ipsum
          </a>
          <a href="" target="_blank">
            Lorem ipsum
          </a>
        </div>
        
      </div>
    </div>
  </div>
</footer>

<!-- ******************* END FOOTER COMPONENT ******************* -->