scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/ucs-exercise-seba
        create path (nt:unstructured) /content/dam/ucs-exercise-seba/jcr:content
        set properties on /content/dam/ucs-exercise-seba/jcr:content
        set cq:conf{String} to /conf/ucs-exercise-seba
        set jcr:title{String} to \"ucs exercise seba\"
        end
        "
]
