<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <sly
      data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"
    />
    <sly data-sly-include="/libs/wcm/core/components/init/init.jsp" />
    <sly
      data-sly-call="${clientlib.css @ categories=['ucs-exercise.seba','ucs-exercise.heroBanner']}"
    />

    <sly
      data-sly-resource="${'header' @ resourceType='ucs-exercise-seba/components/content/exer1-header'}"
    />

    <!-- <sly
      data-sly-resource="${'parsys' @ resourceType='wcm/foundation/components/parsys'}"
    /> -->

    <div
      data-sly-resource="${'parsys' @ resourceType='wcm/foundation/components/parsys'}"
    ></div>

    <!-- ******************* START HERO BANNER ******************* -->


    <!-- ******************* END HERO BANNER ******************* -->

    <sly
      data-sly-resource="${'footer' @ resourceType='ucs-exercise-seba/components/content/exer1-footer'}"
    />
    <sly
      data-sly-call="${clientlib.js @ categories=['ucs-exercise.seba','ucs-exercise.heroBanner']}"
    />
  </body>
</html>
